@using HogwartsHouses.Models.Types
@model HogwartsHouses.Models.Student

@{
    Layout = null;
}
<html>
<head>
    @Html.Partial("~/Shared/_Header.cshtml")
</head>
<body>
<style>
    body {background-color: #721c24; vertical-align: center}
    table    {color: antiquewhite; font-size: large; align-self: center; font-family: Arial,serif; }
</style>
@using (Html.BeginForm("AddNewStudent", "Student", FormMethod.Post))
{
    <table>
        <tr>
            <td>Name: </td>
            <td>@Html.TextBoxFor(s => s.Name)</td>
        </tr>
        <tr>
            <td>Gender: </td>
            <td>
                @Html.DropDownListFor(s => s.Gender,
                    new SelectList(Enum.GetValues(typeof(Gender))),
                    "Select Gender")
            </td>
        </tr>
        <tr>
            <td>Pet: </td>
            <td>
                @Html.DropDownListFor(s => s.Pet,
                    new SelectList(Enum.GetValues(typeof(PetType))),
                    "Select Pet")
            </td>
        </tr>
        <tr>
            @* <td>House: </td> *@
            @* <td> *@
            @*     @Html.DropDownListFor(s => s.House, *@
            @*         new SelectList(Enum.GetValues(typeof(HouseType))), *@
            @*         "Select House") *@
            @* </td> *@
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Submit"/>
            </td>
        </tr>
    </table>
}
<style>
    img {margin: 0; position: absolute;top: 50%;left: 50%; -ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
</style>
<img src="../images/sorting_hat-removebg-preview.png" alt=”SortingHat” width="70%" height="70%">
</body> 
</html>